# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS / Editor junk
.DS_Store
.idea/
.vscode/

# Python cache/compiled files
__pycache__/
*.py[cod]
*$py.class

# # Django / SQLite databases
# *.db
# *.sqlite3

# Logs
*.log

# Virtual environments
.venv/
env/
venv/

# Static and Media files
/static/
/media/

# Django collected static files
staticfiles/

# Docker build artifacts (optional local override dir)
.docker/

# IIS configuration files
web.config

# Specific management command
apps/common/management/commands/load_users.py
